.main-container {
}

.md-link:not(.active):hover {
    cursor: pointer;
    text-decoration: underline;
}

.md-container {
    padding-top: 10px;
}

.sidebar-container {
    padding-right: 13px;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.nav-stacked .nav-stacked {
    margin-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding-left: 8px;
}

.active {
    font-weight: bold;
}

hr {
    margin: 8px 0 8px 0;
}

h1 {
    margin-bottom: 5px;
}

.small-text{
    font-size: 0.75em;
}