.main-container {
    margin-top: 10px;
}

.level-1-nav-container {
    margin-top: 20px;
}

.md-container {
    padding-top: 10px;
}

.md-iframe {
    width: 100%;
    border: none;
}

.nav-divider {
    width: 1px;
    background-color: #ddd;
}

.md-file-contents {
    /*display: none;*/
}