.top-section {
    padding:15px;
    background:#000;
    color:#fff;
    height:75px;
}
.top-section h1 {
    font-weight:900;
    margin-bottom:0;
    display:inline-block;
}
.top-section p {
    font-size:16px;
    font-weight:300;
    display:inline-block;
    margin-bottom:0;
    margin-left:15px;
}
.top-section img {
    display:inline-block;
    height:100%;
    width:auto;
    float:right;
}
.tab-nav-container {
    background:#f1654c;
    padding:0;
    border-top:1px solid #f1654c;
    border-bottom:1px solid #f1654c;
}

.md-container {
    padding-top: 10px;
}

.md-iframe {
    width: 100%;
    border: none;
}

.nav-divider {
    width: 1px;
    background-color: #ddd;
}

.collapse-button {
    font-weight: bold;
    font-size: 14pt;
    margin-right: 5px;
    color: #ccc;
}

.collapsing {
    -webkit-transition: height 0s ease;
    -o-transition: height 0s ease;
    transition: height 0s ease;
}

#primary-category-ul {
    padding-left: 10px;
    margin-top: 15px;
}

.hide {
    display: none;
}

.list-title:hover {
    cursor: pointer;
    color: #3e4651;
}

.tab-level-title:hover {
    cursor: pointer;
}

span.active {
    font-weight: bold;
    color:#3e4651;
}

.left-nav-container ul {
    list-style-type: none;
}
iframe {
    width:100%;
    border:none;
}
.nav-tabs {
    border-bottom:none;
}
.left-nav-container {
    background:#f2f2f2;
    border-right:1px solid #d1d1d1;
}
.nav-tabs .nav-link {
    border-radius:0;
    border:none;
    color:#fff;
    transition:all .1s ease-in-out;
}
.nav-tabs .nav-link:hover {
    border-color:transparent;
    background:#f2f2f2;
    color:#f1654c;
}
.nav-tabs .nav-link.active {
    background:#fff;
    border:none;
    color:#f1654c;
    font-weight:400;
}